<!-- <!DOCTYPE html> -->
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Perfil Profissional - Solicitações</title>

    <!-- Custom fonts for this theme -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="css/freelancer.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg text-uppercase fixed-top" id="mainNav" style="background-color: #707070">
        <div class="container">

            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
                </button>

            <a class="navbar-brand js-scroll-trigger" href="#page-top">Portal Serv</a>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav">
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="profissional_index.html">Serviços</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="profissional_about.html">Sobre</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="profissional_contact.html">Ajuda</a>
                    </li>
                    <!-- <li class="nav-item mx-0 mx-lg-3">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="login">Entrar</a>
                    </li> -->
                </ul>
            </div>

            <button type="button" class="btn btn-light">
              <a  href="perfil_profissional">Perfil</a>
            </button>

        </div>
    </nav>

    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container">

            <br>
            <br>
            <!-- Contact Section Heading -->
            <h2 class="page-section-heading text-center mb-0">Perfil Profissional</h2>
            <br>
            <br>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="perfil_profissional">Perfil</a></li>
                    <li class="breadcrumb-item"><a href="perfil_profissional_servicos">Serviços</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Solicitações</li>
                </ol>
            </nav>

            <!-- Contact Section Form -->
            <div class="container-fluid">
                <div class="container">
                    <div class="row py-2">
                        <div class="col-xl-12 col-12 mx-auto py-2">
                            <div class="table-responsive-sm">
                                <if(data.solicitacoes)>
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col-xl-1 col-1">Data e Hora</th>
                                                <th scope="col-xl-1 col-1">Cliente - Serviço</th>
                                                <th scope="col-xl-4 col-4">Endereço</th>
                                                <th scope="col-xl-1 col-1">Celular</th>
                                                <th scope="col-xl-1 col-1">E-mail</th>
                                                <th scope="col-xl-1 col-1">Status</th>
                                                <th scope="col-xl-3 col-3">Confirmar</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="solicitacao_${solicitacao.id}" for(solicitacao in data.solicitacoes)>  
                                                <td>${solicitacao.data_solicitacao} - ${solicitacao.hora_solicitacao}</td>
                                                <td>${solicitacao.nome} - ${solicitacao.titulo}</td>
                                                <td>${solicitacao.endereco}</td>
                                                <td>${solicitacao.celular}</td>
                                                <td>${solicitacao.email}</td>
                                                <td>${solicitacao.status}</td>   
                                                
                                                <if(solicitacao.id_status == 1)>
                                                    <td>
                                                        <div class="row">
                                                            <div class="col-6 col-sm-4">
                                                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modalConfirmar_${solicitacao.id}">V</button>
                                                            </div>
                                                            <div class="col-6 col-sm-4">
                                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#modalCancelar_${solicitacao.id}">X</button>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </if>
                                                <else>
                                                    <td></td>
                                                </else>
                                               

                                                <!-- Modal -->
                                                <div class="modal fade" id="modalCancelar_${solicitacao.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Cancelar Solicitação</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Deseja realmente cancelar a solicitação ${solicitacao.titulo} do cliente ${solicitacao.nome}?</p>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                                                <button type="submit" class="btn btn-primary">Sim</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="modal fade" id="modalConfirmar_${solicitacao.id}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Confirmar Solicitação</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">  
                                                                <form action="/confirmar_solicitacao" method="post" id="confirmarSolicitacao">
                                                                    <p>Deseja realmente confirmar a solicitação ${solicitacao.titulo} do cliente ${solicitacao.nome}?</p>

                                                                    <div class="form-group" style="display: none;">
                                                                        <input id="idProfissional" name="idProfissional" value="${data.usuarioSessao.idUsuario}">
                                                                        <input id="idServico" name="idServico" value="${solicitacao.id_servico}">
                                                                        <input id="idSolicitacao" name="idSolicitacao" value="${solicitacao.id}">
                                                                    </div>

                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
                                                                        <button type="submit" class="btn btn-primary">Sim</button>
                                                                    </div>
                                                                </form>                                                                
                                                            </div>                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </tr>
                                        </tbody>
                                    </table>                                     
                                </if>
                                <else>
                                    <div class="container py-5 my-5">
                                        <div class="row">
                                            <div class="col-sm-3">
                                            </div>
                                            <div class="col-sm-8">
                                                <h2>Não existem solicitações.</h2>
                                            </div>
                                            <!-- <div class="col-sm">
                                            </div> -->
                                        </div>
                                    </div>
                                </else>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container py-5 my-5">
        <div class="conatiner-fluid py-5 my-5">
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <!-- Footer Location -->
                <div class="col-lg-2">
                    <p class="lead mt-3">Sorocaba - SP</p>
                </div>

                <div class="col-lg-8">
                </div>

                <!-- Footer Social Icons -->
                <div class="col-lg-2">
                    <a class="btn btn-outline-light btn-social mx-2" href="#">
                        <i class="fab fa-fw fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-2" href="#">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                </div>

            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
        <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

</body>

</html>